// Montserrat ====================================================================

@font-face {
    font-family: 'FuturaPT';
    src: local('Futura PT Light'), local('FuturaPT-Light'),
        url('../fonts/Futura-PT/futura-pt-light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaPT';
    src: local('Futura PT Book'), local('FuturaPT-Book'),
        url('../fonts/Futura-PT/futura-pt-book.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaPT';
    src: local('Futura PT Medium'), local('FuturaPT-Medium'),
         url('../fonts/Futura-PT/futura-pt-medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaPT';
    src: local('Futura PT Demi'), local('FuturaPT-Demi'),
         url('../fonts/Futura-PT/futura-pt-demi.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaPT';
    src: local('Futura PT Extra Bold'), local('FuturaPT-ExtraBold'),
        url('../fonts/Futura-PT/futura-pt-extra-bold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaPT';
    src: local('Futura PT Heavy'), local('FuturaPT-Heavy'),
         url('../fonts/Futura-PT/futura-pt-heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaPT';
    src: local('Futura PT Bold'), local('FuturaPT-Bold'),
        url('../fonts/Futura-PT/futura-pt-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

